        #head{
    margin-left: 550px;
}
.mainbox{
    border: 2px solid black;
    height:400px;
    width: 550px;
    margin-left: 380px;
}
#inp1{
    height:30px;
    width:350px ;
    margin-left:40px ;
    margin-top:30px ;
}
#inp2{}
#inp3{}