        #head{
    margin-left: 555px;
}
.mainbox{
    border: 2px solid black;
    height:320px;
    width: 510px;
    margin-left: 410px;
    padding: 3px;
    border-radius: 10px;
}
#inp1{
    height:30px;
    width:380px ;
    margin-left:55px ;
    margin-top:30px ;
}
#inp2{
     height:30px;
    width:380px ;
    margin-left:55px ;
    margin-top:30px ;
}
#inp3{
     height:30px;
    width:380px ;
    margin-left:55px ;
    margin-top:30px ;
}
#btr{
    height:40px;
    width: 115px;
    margin-top: 40px;
    margin-left: 195px;
    border-radius: 8px;
   background: linear-gradient( hotpink, cyan);

}